@import "yembo-tp/assets/src/scss/config.scss";

.lpVideo{
  overflow: hidden;
  margin-bottom:36px;
  position:relative;

  .iframe_wrapper {
    &--embed {
      .lpVideo__video__play {
        display:none;
        pointer-events:none;
      }
    }
    video {
      object-fit:cover;
    }
    .lpVideo__video__play {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:2;
      cursor:pointer;
      &.active {
        pointer-events:none;
        &:before {
          opacity:0;
          z-index:-1;
        }
        &:after {
          opacity:0;
          z-index:-1;
        }
      }
      &:before {
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        pointer-events:none;
        transform:translate(-50%, -50%);
        @include transition;
        width: 60px;
        height:60px;
        border-radius:50%;
        background-color:var(--blue);
        @include media-breakpoint-up-lg {
          width: 80px;
          height:80px;
        }
      }
      &:after {
        content:'';
        position:absolute;
        top:50%;
        left:50.5%;
        pointer-events:none;
        transform:translate(-50%, -50%);
        @include transition;
        border-left:24px solid #ffffff;
        border-top:14px solid transparent;
        border-bottom:14px solid transparent;
      }
    }
    &:hover {
      .lpVideo__video__play {
        &:before {
          background-color:var(--white);
        }
        &:after {
          border-left-color:var(--blue);
        }
      }
    }
  }

}
