<div class="typCtas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="typCtas__text">
          {{ module.text }}
        </div>
      </div>
      <div class="col-4 d-none d-lg-flex align-items-end justify-content-end">
        <div class="typCtas__cta d-flex align-items-end justify-content-end">
          <a href="{{ module.button_url.href }}" class="textLink">{{ module.button_text }}</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center justify-content-lg-between">

      {% for item in module.resource_card %}

      <div class="col-12 col-md-6 col-lg-4 d-flex insertResourceCard">
        <figure class="resourceCard">
      
          <a class="resourceCard__link" href="{{ item.content_url.href }}"></a>
      
          <div class="resourceCard__header{% if item.not_guide %} resourceCard__header--center{% endif %}">
            <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" loading="lazy"/>
          </div>
      
          <div class="resourceCard__body">
      
            <figcaption class="resourceCard__copy">
              <div class="resourceCard__tag">
                <p>{{ item.tag_name }}</p>
              </div>
              <span class="resourceCard__title">{{ item.title }}</span>
              <span class="resourceCard__text">{{ item.text }}</span>
            </figcaption>

            <button class="textLink">{{ item.button_text }}</button>
      
          </div>
      
      
        </figure>
      </div>

      {% endfor %}

    </div>
    <div class="row">
      <div class="col-12 typCtas__cta--mobile d-lg-none d-flex align-items-center justify-content-center">
          <a href="{{ module.button_url.href }}" class="textLink">{{ module.button_text }}</a>
      </div>
    </div>
  </div>
</div>