/* general
============================================================================= */

:focus-visible{
  transition: none;
  // outline: 3px solid var(--text);
}

/* helpers
============================================================================= */

.skip-link{
  position: absolute;
  top: -1000px; // position above the visible area
  left: 10px;
  padding: 8px;
  z-index: 99999;
  background-color: var(--white);
  &:focus,
  &:focus-visible{
    top: 10px!important; // make the skip links visible when focused (for keyboard users)
  }
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
