@import "../../config.scss";

/* buttons
============================================================================= */

.button{
  @include transition;
  @include no-user-select;
  @include fit-content;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 12px 20px;
  font-size: 1rem;
  font-family: var(--font-header);
  font-weight: 700;
  border-radius: 5px;

  &:hover{
    text-decoration: none; 
  }

  &--primary{
    background-color: var(--blue);
    color: var(--white);
    &:hover{
      background-color: var(--black-blue);
      color: var(--white);
    }
  }

  &--secondary{
    background-color: var(--blue);
    color: var(--white);
    &:hover{
      background-color: var(--black-blue);
      color: var(--white);
    }
  }

  &--tertiary{
    background-color: var(--white);
    color: var(--text);
    &:hover{
      background-color: var(--white);
      color: var(--text);
    }
  }

}

.text-button-wrapper {
  color: var(--blue);
  align-items: center;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  transition: opacity .2s;
  .text-button {
    display: block;
    font-size: 17px;
    letter-spacing: -.01em;
    margin-right: 6px;
    text-decoration: none;
    align-items: center;
    font-weight: 700;
  }
}
