<div class="form" id="form">
  <div class="form__wrapper">

    <div class="form__header">
      <h2>{{ module.text.header|trim }}</h2>
      {% if module.text.standfirst %}<p>{{ module.text.standfirst|trim }}</p>{% endif %}
    </div>

    <div class="form__form">
      {% form
      	form_to_use="{{ module.form.select_form.form_id }}"
      	response_response_type="{{ module.form.select_form.response_type }}"
      	response_message="{{ module.form.select_form.message }}"
      	response_redirect_id="{{ module.form.select_form.redirect_id }}"
      	response_redirect_url="{{module.form.select_form.redirect_url}}"
      	gotowebinar_webinar_key="{{ module.form.select_form.gotowebinar_webinar_key }}"
      %}
    </div>

  </div>
</div>
<div class="form__bg d-none d-lg-block">
  <div class="form__bg-item form__bg-item--bot"></div>
</div>
