@import "../../config.scss";

/* root vars
============================================================================= */

:root{

  --font-header: Inter, sans-serif;
  --font-body: Inter, sans-serif;

  --white: #FFFFFF;
  --black: #000000;
  --text: #333333;
  --brown: #8C7457;
  --blue: #0A58C7;
  --black-blue: #0B111D;
}

/* globals
============================================================================= */

html{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body{
  margin: 0;
  background-color: var(--white);
  color: var(--text);
  font-family: var(--font-body);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg{
  display: block;
  max-width: 100%;
}

a{
  @include transition;
  color: var(--font-body);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

svg,
svg *{
  transition: all .5s ease;
  @include no-user-select;
}

// @include selection{
//   color: var(--terawera);
//   background: var(--cyan);
// }
