@import "../../config.scss";

/* root vars
============================================================================= */

:root{

  --font-header: 'Poppins-Semibold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-body: 'DMSans-Regular', 'Arial', Helvetica, sans-serif;
  --font-body-medium: 'DMSans-Medium', 'DMSans-Regular', 'Arial', Helvetica, sans-serif;
  --font-body-semibold: 'DMSans-Semibold', 'DMSans-Medium', 'Arial', Helvetica, sans-serif;

  --poppins-light: 'Poppins-Light', 'Poppins-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --poppins-regular: 'Poppins-Regular', 'Poppins-Semibold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --poppins-medium: 'Poppins-Medium', 'Poppins-Semibold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --poppins-semibold:  'Poppins-Semibold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --white: #FFFFFF;
  --black: #000000;
  --grey: #99A6B2; 
  --orange: #F39200;
  --navy: #334D65;
  --slate: #66798B;
  --navy: #00203E;
  --porcelain: #EBEEF0;
  --corvette: #FAD399;
  --rajah: #F8BE66;
}

/* globals
============================================================================= */

html{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body{
  margin: 0;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-body);
  overflow-x: hidden;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg{
  display: block;
  max-width: 100%;
}

a{
  @include transition;
  color: var(--font-body);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

svg,
svg *{
  transition: all .5s ease;
  @include no-user-select;
}

// @include selection{
//   color: var(--terawera);
//   background: var(--cyan);
// }
