@font-face {
  font-family: 'Poppins-Light';
  src: url('https://go.lumiglobal.com/hubfs/website/fonts/Poppins-Light/Poppins-Light.woff2') format('woff2'),
       url('https://go.lumiglobal.com/hubfs/website/fonts/Poppins-Light/Poppins-Light.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('https://go.lumiglobal.com/hubfs/website/fonts/Poppins-Regular/Poppins-Regular.woff2') format('woff2'),
       url('https://go.lumiglobal.com/hubfs/website/fonts/Poppins-Regular/Poppins-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('https://go.lumiglobal.com/hubfs/website/fonts/Poppins-Medium/Poppins-Medium.woff2') format('woff2'),
       url('https://go.lumiglobal.com/hubfs/website/fonts/Poppins-Medium/Poppins-Medium.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins-Semibold';
  src: url('https://go.lumiglobal.com/hubfs/website/fonts/Poppins-Semibold/Poppins-SemiBold.woff2') format('woff2'),
       url('https://go.lumiglobal.com/hubfs/website/fonts/Poppins-Semibold/Poppins-SemiBold.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('https://go.lumiglobal.com/hubfs/website/fonts/DMSans-Regular/DMSans-Regular.woff2') format('woff2'),
       url('https://go.lumiglobal.com/hubfs/website/fonts/DMSans-Regular/DMSans-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url('https://go.lumiglobal.com/hubfs/website/fonts/DMSans-Medium/DMSans-Medium.woff2') format('woff2'),
       url('https://go.lumiglobal.com/hubfs/website/fonts/DMSans-Medium/DMSans-Medium.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'DMSans-Semibold';
  src: url('https://go.lumiglobal.com/hubfs/website/fonts/DMSans-Semibold/DMSans-SemiBold.woff2') format('woff2'),
       url('https://go.lumiglobal.com/hubfs/website/fonts/DMSans-Semibold/DMSans-SemiBold.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}
